<%- include('../include/head.ejs')%>
</head>

<body class="index-page">
<%- include('../include/header.ejs')%>
  </header>

  <main class="main">
    <section>
        <form action="/addCustomer" method="POST" style="margin-left: 35%;  width: 30%;"> 
            
            <div style="margin-bottom: 30px;">          
                <div style="float: right;">
                    <label for="">
                            :نام مشتری
                    </label>
                </div>
                <div>
                    <input type="text" name="name" class="col-md-12">
                </div>
            </div>
            <div style="margin-bottom: 30px;">
                <div style="float: right;">
                    <label for="">
                            : شماره تلفن مشتری
                    </label>
                </div>
                <div>
                    <input type="text" name="phone" class="col-md-12">
                </div>
            </div>
            <div style="margin-bottom: 30px;">
                <div style="float: right;">
                    <label for="">
                            : آدرس  
                    </label>
                </div>
                <div>
                    <input type="text" name="address" class="col-md-12">
                </div>
            </div>
            <div style="margin-bottom: 30px;">
                <div style="float: right;">
                    <label for="">
                            : سفارش کالا  
                    </label>
                </div>
                <div>
                    <select name="product" id="">
                    <% for(p of pro){
                        %>
                        <option value="<%= p.id%>"><%= p.name%></option>
                        <%
                    } %>
                    </select>
                </div>
            </div>
            <div style="margin-bottom: 30px;">
                <div style="float: right;">
                    <label for="">
                            : توضیح  
                    </label>
                </div>
                <div>
                    <textarea name="description" id="" cols="42" rows="6"></textarea>
                </div>
            </div>
            <div style="margin-bottom: 30px; margin-left: 45%;">
                <button type="submit">ثبت</button>
            </div>
        </form>
    </section>
  </main>

  
  <%- include('../include/end.ejs')%>